@import 'fonts';
@import 'vars';
@import 'global';



// start header

.header {
  &__top {
    background-color: #e8ebf1;
  }

  &-top__inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    position: relative;
  }

  &__logo {
    display: inherit;

    img {
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
    }

    .logo-text {
      align-self: center;
      margin-left: 4px;
      color: #000;
      font-size: 30px;
      @include Quicksand700;

      span {
        color: $blue;
      }
    }
  }

  &__info,
  &__account {
    display: flex;
    align-items: center;
  }

  &__btn-link {
    font-size: 14px;
    @include button-background;
    transition: all .3s ease;

    &:hover {
      background-color: darken($blue, 15%);
    }
  }

  &__icons {
    align-self: center;
    margin: 0 50px;
    display: flex;
    position: relative;

    .lnr {
      font-size: 20px;
    }

    .alarm-box,
    .cart-box,
    .envelope-box {
      position: relative;
      margin-left: 35px;
      cursor: pointer;
    }

    .alarm-box {
      margin-left: 0;
    }

    .alarm-number,
    .cart-number,
    .envelope-number {
      position: absolute;
      text-align: center;
      line-height: 23px;
      color: #fff;
      width: 22px;
      height: 22px;
      top: -12px;
      left: 12px;
      border-radius: 50%;
      font-size: 14px;
    }

    .alarm-number {
      background-color: #ff6a6c;
    }

    .cart-number {
      background-color: $blue;
    }

    .envelope-number {
      background-color: #62d03b;
    }
  }



  .envelope__menu,
  .alarm__menu,
  .cart__menu {
    display: none;
    position: absolute;
    z-index: 10;
    width: 370px;
    right: -20px;
    top: 60px;

    &::before {
      @include triangle;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      padding-bottom: 25px;
      color: #000;

      .view {
        color: $blue;
      }
    }

    .drop__menu {
      padding: 25px;
    }

    &-account {
      padding: 20px 0;
      border-bottom: 1px solid #e8ebf0;
      border-top: 1px solid #e8ebf0;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      .message {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .avatar {
        float: left;
        margin-right: 13px;
      }

      .name-time {
        display: flex;
        justify-content: space-between;
      }

      .name {
        font-size: 16px;
        padding-bottom: 15px;
        @include Quicksand500;
        color: #333333;
        position: relative;

        &::after {
          content: "\e818";
          font-family: 'Linearicons-Free';
          right: -30px;
          position: absolute;
          color: $blue;

        }
      }

      .time {
        color: $blue;
      }
    }
  }

  .alarm__menu {
    &-box {
      width: 220px;
    }

    &-account {
      display: flex;
      justify-content: space-between;
    }

    .icon-like,
    .icon-buble,
    .icon-cart,
    .icon-star {
      align-self: center;

      &::after {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        padding: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Linearicons-free';
      }
    }

    .icon-like::after {
      content: '\e813';
      background-color: rgba(#0674eb, .1);
      color: #0674eb;
    }

    .icon-buble::after {
      content: "\e83f";
      background-color: rgba(#7347c1, .1);
      color: #7347c1;
    }

    .icon-cart::after {
      content: "\e82e";
      background-color: rgba(#ff6a6c, .1);
      color: #ff6a6c;
    }

    .icon-star::after {
      content: "\e815";
      background-color: rgba(#62d03a, .1);
      color: #62d03a;
    }



    &-account {
      .avatar {
        float: none;
        margin-right: 0;
      }

      .name {
        margin-right: 5px;
        padding-bottom: 0;

        &::after {
          content: none;
        }
      }

      .action {
        color: #747a86;
      }

      .time {
        color: #747a86;
      }

      .position {
        color: $blue;
        line-height: 28px;

      }

      .name-time {
        justify-content: start;
      }

      .action,
      .position {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .cart__menu {
    width: 400px;

    &-account {
      border-top: none;
      padding: 25px 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 25px;
      }
    }

    .category {
      margin-left: 0;
      padding-left: 20px;
      padding-top: 16px;
    }

    .avatar {
      margin-right: 15px;
    }

    .name {
      font-size: 16px;
      margin-right: 0;
    }

    .btn-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .trash::after {
      content: '\e811';
      font-family: 'Linearicons-free';
      background-color: rgba(#7347c1, .1);
      color: #7347c1;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      padding: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .price {
      @include button-background;
      font-size: 16px;
      background-color: rgba($blue, .1);
      color: $blue;
      padding: 8px 10px;
      box-shadow: none;

      &:hover {
        color: $white;
      }
    }

    .total {
      border-top: 1px solid #e8ebf0;
      text-align: right;
      padding-top: 25px;
      @include Quicksand500;
      font-size: 18px;
      color: #000;

      span {
        margin-left: 30px;
      }
    }

    .button-total {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .total-btn {
      width: 200px;
      min-height: 60px;
      display: inherit;
      justify-content: center;
      align-items: center;
      color: $white;
      transition: all .3s;

      &:hover {
        background-color: darken(rgba(#000, .1), 10%);
      }
    }

    .go-cart {
      background-color: #7347c1;
    }

    .go-checkout {
      background-color: $blue;
    }
  }


  &__account {
    .avatar {
      margin-right: 22px;
    }

    .user {
      line-height: 22px;
      position: relative;

      &__name {
        a {
          font-size: 16px;
          @include Quicksand500;
          color: $text-color;
          transition: all .3s;

          &:hover {
            color: lighten($text-color, 30%);
          }
        }
      }


      &__menu {
        display: none;
        position: absolute;
        z-index: 10;
        width: 270px;
        top: 71px;
        right: 0;

        &::before {
          @include triangle;
        }

        &-list {
          li {
            &+li {
              margin-top: 15px;
            }
          }
        }
      }

      &__menu-link {
        display: inline-block;
        color: #54667a;
        padding-left: 40px;
        line-height: 40px;
        width: 100%;
        position: relative;
        transition: all .3s;

        &:hover {
          background-color: $blue;
          color: $white;
        }

        &::before {
          position: absolute;
          font-family: 'Linearicons-free';
          left: 10px;
        }

        &.profile::before {
          content: '\e82a';
        }

        &.dashboard::before {
          content: '\e800';
        }

        &.settings::before {
          content: '\e810';
        }

        &.purchases::before {
          content: '\e82e';
        }

        &.favorites::before {
          content: '\e813';
        }

        &.credits::before {
          content: '\e812';
        }

        &.statements::before {
          content: '\e843';
        }

        &.upload::before {
          content: '\e80a';
        }

        &.edit::before {
          content: '\e828';
        }

        &.withdrawals::before {
          content: '\e84c';
        }

        &.logout::before {
          content: '\e820';
        }
      }

      &__price {
        font-size: 15px;
        color: $blue;
      }
    }
  }

  .drop__menu {
    border-top: 1px solid $blue;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  }

  &__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  .menu__list {
    text-transform: uppercase;
    display: flex;
    position: relative;

    li {
      &+li {
        margin-left: 35px;
      }

      a {
        font-size: 15px;
        @include Quicksand500;
        line-height: 42px;
        color: $text-color;
        transition: all .2s;
        outline: none;

        &:hover {
          color: lighten($text-color, 30%);
        }

        &:active {
          color: $blue;
        }
      }
    }

    .menu__dropdown-home,
    .menu__dropdown-wordpress,
    .menu__dropdown-page {
      display: none;
      width: 270px;
      position: absolute;
      z-index: 10;
      top: 61px;

      li {
        margin-left: 0;
      }
    }

    .menu__dropdown-link {
      display: inline-block;
      padding: 0 10px;
      line-height: 40px;
      width: 100%;
      transition: all .3s;

      &:hover {
        line-height: 40px;
        background-color: $blue;
        color: $white;
      }
    }

    .menu__dropdown-page {
      display: block;
    }

    .page__menu-drop {
      z-index: 10;
      position: absolute;
      left: 0;
      top: 61px;
      width: 1140px;
      column-count: 3;
      column-gap: 30px;
      display: flex;

      li {
        margin-left: 0;
      }
    }

    .home__title,
    .dashboard__title,
    .other-page__title {
      @include Quicksand500;
      font-size: 16px;
      color: #000;
      border-bottom: 1px solid #e8ebf0;
      padding-bottom: 25px;
      text-transform: none;
      margin-left: 10px;
    }

    .home__list,
    .other-page__list {
      column-count: 2;
    }

    .home__list,
    .other-page__list,
    .dashboard__list {
      padding-top: 25px;
    }
  }
}

.search {
  form {
    width: 360px;
    position: relative;

    input {
      display: block;
      outline: none;
      width: 100%;
      border: 1px solid #d9dfe5;
      border-radius: 20px;
      padding: 10px 80px 11px 26px;

      &::placeholder {
        font-size: 15px;
        color: #898f96;
      }
    }

    button {
      position: absolute;
      border: none;
      @include button-background;
      box-shadow: none;
      padding: 0 27px;
      top: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;

      span {
        font-size: 15px;
      }
    }
  }
}

.menu__btn {
  display: none;
}

// end header

// start products
.products {
  min-height: 725px;
  background-image: linear-gradient(-90deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
  position: relative;

  &__inner {
    padding-top: 175px;
    text-align: center;
    color: $white;

    &-title {
      max-width: 810px;
      margin: 0 auto;
      font-size: 60px;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
      @include Quicksand700;

      span {
        display: block;
        @include Quicksand400;
      }
    }

    &-text {
      font-size: 20px;
      @include Quicksand500;
      padding-top: 50px;
      margin-bottom: 50px;
    }

    &-btn {
      font-size: 16px;

      .btn-link {
        padding: 12px 30px !important;
        background-color: transparent;
        border: 1px solid $white;
        border-radius: 50px;
        color: $white;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        transition: all .3s ease;

        &:hover {
          background-color: #fff;
          color: $blue;
        }

        &+.btn-link {
          margin-left: 30px;
        }
      }

      .active {
        padding: 20px 30px;
        background-color: #fff;
        border: 1px solid $white;
        border-radius: 50px;
        color: $blue;
      }

    }
  }

  &__box-search {
    margin-top: 150px;
    position: absolute;
    z-index: 5;

    &::before {
      content: '';
      position: absolute;
      width: 1080px;
      height: 130px;
      background-color: #fff;
      border-radius: 6px;
      bottom: 20px;
      left: 20px;
      z-index: -1;
      opacity: .5;
    }

    &::after {
      content: '';
      position: absolute;
      width: 1030px;
      height: 130px;
      background-color: #fff;
      border-radius: 6px;
      bottom: 35px;
      left: 45px;
      z-index: -5;
      opacity: .5;
    }
  }

  &__inner-search {
    margin-top: 50px;
    max-width: 1140px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    padding: 40px;

    input {
      outline: none;
      border: 1px solid #dcdcdc;
      width: 613px;
      padding: 16px 28px;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;

      &::placeholder {
        font-size: 16px;
        color: #676767;
      }
    }

    button {
      border: none;
      @include button-background;
      box-shadow: none;
      border-radius: 4px;
      width: 200px;
      padding: 5px 0;
      cursor: pointer;
      margin-left: 30px;
      font-size: 16px;
      line-height: 42px;
    }
  }
}

.select {
  width: 195px;
  outline: none;
  border: 1px solid #dcdcdc;
  padding: 16px 20px;
  margin-left: -5px;
  appearance: none;
  background-image: url(../images/Icons/chevron-down.png);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

// end products

// start features

.features {
  min-height: 710px;

  &__inner {
    padding-top: 190px;
    padding-bottom: 120px;
  }

  &__inner-items {
    display: flex;
    justify-content: space-around;

    .item {
      padding: 40px 35px;
      max-width: 360px;
      background-color: transparent;
      border-radius: 4px;
      text-align: center;
      transition: all .2s ease;

      &__title {
        color: #000;
        font-size: 24px;
        padding: 40px 0 30px;
      }

      &__text {
        max-width: 300px;
        color: #555555;
        line-height: 30px;
      }

      &:hover {
        background-color: #fff;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      }
    }
  }
}

// end features

// start products-slider

.products-slider {
  background-color: #eff1f5;
  padding: 120px 0;

  .products-slider__title {
    @include title-fon;
  }

  .products-slider__inner-slider {
    display: flex !important;
    background-color: #fff;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
  }
}

.slider__item-content {
  padding: 0 50px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.slider__item-img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.products-slider__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  .fon-button {
    width: 110px;
    height: 45px;
    background-color: #7347c1;
    border-radius: 50px;
  }
}

.slick-arrow {
  background-color: transparent;
  border: none;
  top: -120px;
  position: absolute;
  cursor: pointer;
}

.prev.slick-arrow {
  right: 95px
}

.next.slick-arrow {
  right: 45px;
}

.lnr-chevron-left::before,
.lnr-chevron-right::before {
  font-size: 14px;
  color: $white;
}


.slider__item-img {
  flex: 0 0 auto;
  max-width: 555px;
  width: 100%;
  background-image: linear-gradient(180deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 12px 30px;
    font-size: 15px;

    &+a {
      margin-left: 10px;
    }
  }
}

.slider-main__item-content,
.slider__item-content {
  padding: 30px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;

  .content-text {
    display: flex;
    padding: 12px 0 30px;
    align-items: center;
  }

  .content-intro {
    font-size: 16px;
    line-height: 30px;
    color: #555555;
  }

  .content-tags {
    padding: 45px 0;
    border-bottom: 1px solid #ececec;

    a {
      color: #868c96;
      background-color: #f1f3f6;
      @include size15;
      padding: 5px 16px;
      border-radius: 50px;

      &+a {
        margin-left: 6px;
      }
    }
  }

  .content-info {
    padding: 23px 0;
    display: flex;
    align-items: center;

    .rate-star {
      margin-left: auto;
    }

    a {
      @include size15;
      @include button-background;
      box-shadow: none;
      padding: 4px 20px;
      border-radius: 50px;
      @include Quicksand500;
    }

    span {
      margin-left: 20px;
    }

    .like,
    .sell {
      font-size: 15px;
      position: relative;
    }

    .like::before,
    .sell::before {
      font-family: 'icomoon';
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .like {
      padding-left: 28px;
      color: #555555;

      &::before {
        content: '\f08a';
        color: #7347c1;
      }
    }

    .sell {
      padding-left: 25px;
      color: $blue;

      &::before {
        content: '\f07a';
        color: inherit;
      }
    }
  }
}

.sell {
  padding-left: 25px;
  color: $blue;

  &::before {
    content: '\f07a';
    font-family: 'icomoon';
    color: inherit;
  }
}

.author {
  a {
    padding-left: 40px;
    @include size15;
    color: #000;
    position: relative;
    transition: all .3s;

    &:hover {
      color: lighten(#000000, 30);
    }

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: #7347c1;
      border-radius: 50%;
      left: 0;
    }
  }
}

.category {
  margin-left: 20px;
  padding-left: 25px;
  font-size: 15px;
  color: #7347c1;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../images/slider/wordpress.png);
    left: 0;
    bottom: 0px;
  }
}

.content-title {
  @include Quicksand500;
  font-size: 24px;
  padding-top: 15px;
}

// end products-slider

// start release-products

.release-products {
  background-color: #f6f7fb;
  padding: 120px;
}

.release-products__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.release-products__title {
  @include title-fon;
  position: relative;
}

.buttons__filter {
  position: relative;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    img {
      position: absolute;
      top: 0;
      right: -5px;
    }
  }
}

.filter__box {
  display: none;
  position: absolute;
  width: 185px;
  right: -30px;
  top: 35px;

  .buttons__filter-menu {
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    border-radius: 3px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -11px;
      width: 0px;
      height: 0px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 14px solid white;
      right: 20px;
      box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    }

    .filter__list {
      a {
        color: #747b86;
        line-height: 28px;
        transition: all .3s;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}




.release-products__tags {
  @include title-fon;
  padding: 30px;

  button {
    color: #868c96;
    background-color: #f1f3f6;
    font-size: 15px;
    line-height: 30px;
    padding: 5px 16px;
    border-radius: 50px;
    transition: all .3s;
    cursor: pointer;
    border: none;

    &+a {
      margin-left: 10px;
    }

    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }
}

.release-products__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;

  .release-products__item {
    max-width: 360px;
    flex: 1 0 calc((100% / 3) - 20px);
    max-width: calc((100% / 3) - 20px);
    margin-bottom: 30px;
    margin-left: 20px;
    width: 100%;
  }
}



.slider__item-img {
  min-height: 230px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0;
}

.slider__item-content {
  background-color: #fff;
  padding: 30px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.slider__content-title {
  font-size: 20px;
  @include Quicksand500;
  padding-top: 0px;
}

.release-products__intro {
  border-bottom: 1px solid #ececec;
  padding-bottom: 35px;
}

.release-products__info.content-info {
  padding: 0;
  padding-top: 23px;

  a {
    @include button-background;
    background-color: rgba($blue, .2);
    box-shadow: none;
    padding: 4px 18px;
    color: #338def;
  }

  span {
    margin-left: 15px;
  }

  .like {
    padding-left: 20px;
  }

  .sell {
    margin-left: auto;
  }

  .rate-star {
    margin-left: 15px;

  }
}

.button__view {
  margin-top: 30px;
  text-align: center;

  button {
    border: none;
    @include button-background;
  }
}

//start section follow


.follow {
  background-color: #eff1f5;
  padding: 120px 0;
}


.follow__title {
  @include title-fon;
}

.follow__items {
  .slick-slide {
    margin: 0 15px;
  }
}

.follow__item {
  max-width: 360px;
}

//end section follow

//start section fun-fact

.fun-fact {
  background-color: #212225;
}

.fun-fact__items {
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.item__number--yellow {
  color: #feb71d;
}

.item__number--blue {
  color: #58c9e9;
}

.item__number--green {
  color: #77de51;
}

.item__number--red {
  color: #ff6a6d;
}

.fun-fact__item {
  span {
    font-size: 48px;
  }

  .item__number {
    font-size: 36px;
    padding: 50px 0 25px;
  }

  .item__text {
    font-size: 18px;
    color: #fff;
  }

}

//end section fun-fact

//start section why-choose
.why-choose {
  padding: 120px 0;
}

.item__title {
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.why-choose__inner-title {
  text-align: center;

  .title {
    font-size: 36px;
    padding-bottom: 30px;

    span {
      color: $blue;
    }

    // 700
  }

  .text {
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
  }
}

.why-choose__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.why-choose_inner-item {
  margin-top: 60px;
  max-width: 360px;
  text-align: center;
  padding: 40px 35px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}

.why-choose__item {
  position: relative;

  .number {
    font-size: 48px;
    display: block;
    position: absolute;
    color: rgba(#5c87f8, .2);
    top: -15px;
    left: -15px;
  }

  .lnr {
    font-size: 60px;
  }
}



.lnr-license {
  color: $blue;
}

.lnr-magic-wand {
  color: #7f4ec2;
}

.lnr-lock {
  color: #77de51;
}

.lnr-chart-bars {
  color: #feb71d;
}

.lnr-leaf {
  color: #58c9e9;
}

.lnr-phone {
  color: #ff6a6d;
}

//end section why-choose

//start section sale
.sale {
  padding-bottom: 120px;
}

.sale__inner {
  display: flex;
  text-align: center;
  color: $white;

  .buy {
    margin-left: -1px;
  }

  .sell,
  .buy {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      padding-top: 100px;
      padding-bottom: 50px;
    }

    .title,
    .text {
      color: $white;
    }

    .title {
      font-size: 36px;
    }

    .text {
      font-size: 16px;
      line-height: 30px;
      padding: 30px 0;
      max-width: 600px;
      margin: 0 auto;
    }

    a {
      @include button-background;
      margin-bottom: 100px;
      background-color: #fff;
      color: $blue;
      transition: all .3s;

      &:hover {
        background-color: $blue;
        color: #fff;
      }
    }
  }
}

//end section sale

// section clients start
.clients {
  background-color: #fff;
}

.clients__title {
  text-align: center;

  .title {
    font-size: 36px;
    padding-bottom: 30px;

    span {
      color: $blue;
    }
  }

  .subtitle {
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 60px;
  }
}

.clients__items {
  display: flex;
  padding-bottom: 60px;

  .item__intro {
    font-size: 16px;
    line-height: 30px;
    color: #555555;
  }

  .clients__item {
    &+.clients__item {
      margin-left: 30px;
    }
  }
}

.item__inner {
  background-color: #fff;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  max-width: 585px;
  padding: 50px 40px;
  border-left: 2px solid $blue;

}

.item__account {
  padding-bottom: 28px;

  .item__text {
    color: #555555;
  }

  .avatar {
    margin-right: 20px;
  }

  .lnr-bubble {
    margin-left: auto;
    font-size: 60px;
    color: #e8e8e8;
  }
}

.clients__button {
  text-align: center;
  padding-bottom: 120px;

  &-link {
    @include button-background;
    padding: 15px 35px;
    border-radius: 50px;
    font-size: 16px;
  }
}

// section clients end

// section news start

.news {
  background-color: #eff1f5;

  &__title {
    padding-top: 120px;
  }

  .item-content__title {
    padding-bottom: 30px;
    font-size: 22px;
    @include Quicksand500;
  }

  .item-content__intro {
    font-size: 16px;
    line-height: 30px;
    color: #555555;
  }
}

.news__items {
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
}

.news__item {
  display: flex;
  flex-direction: column;
}

.news__item-inner {
  max-width: 360px;
  background-color: #fff;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  .item-img {
    min-height: 230px;
    background-color: #7385cd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  .item-content {
    padding: 30px;
  }
}

.item__content-info {
  border-top: 1px solid #eff1f5;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;

  .views-info {
    display: flex;
    color: #7e7e7e;
  }

  .message {
    &+.view {
      margin-left: 30px;
    }
  }

  .data {
    padding-right: 45px;
    color: #999;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      height: 40px;
      width: 1px;
      background-color: #eff1f5;
      right: 0;
      top: -10px;
    }

    .lnr-clock {
      color: $blue;
    }
  }

}

// section news end

// section support start

.support {
  background-color: $white;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #eff1f5;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    padding: 65px 0;
    text-align: center;
  }
}

.guarantee__inner-title,
.friendly__inner-title {
  font-size: 24px;
  color: #000;
}

.title--blue {
  color: $blue;
}

.title--purple {
  color: #7347c1;
}

.friendly,
.guarantee {
  width: 50%;
}

// section support end
// section banner start

.banner {
  background-image: linear-gradient(-90deg, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
  opacity: .9;

  &__inner {
    padding: 110px 0;
    text-align: center;
    color: $white;
  }

  &__title {
    font-size: 36px;
  }

  &__subtitle {
    font-size: 18px;
    padding: 25px 0 50px;
  }

  &__button-link {
    @include button-background;
    background-color: $white;
    padding: 18px 45px;
    border-radius: 50px;
    color: $blue;
    font-size: 16px;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}

// section banner end

.footer__top {
  background-color: #262b30;
}

.footer__items {
  padding-top: 115px;
  padding-bottom: 120px;
  color: #ababab;
  display: flex;
  justify-content: space-between;
}

.martplace__item {
  max-width: 265px;

  .martplace__logo {
    display: flex;
    align-items: center;
    @include Quicksand700;
    color: $white;
    font-size: 24px;

    span {
      color: $blue;
    }

    .logo-text {
      margin-left: 7px;
    }
  }

  .martplace__text {
    padding: 30px 0;
  }

  .phone,
  .mail {
    color: #ababab;
    transition: all .3s;

    &:hover {
      color: lighten(#ababab, 20%);
    }
  }

  .martplace__contacts-inner {
    line-height: 26px;

    .martplace__address {
      padding-top: 10px;
    }

    .martplace__contacts-phone,
    .martplace__contacts-mail,
    .martplace__address {
      padding-left: 30px;
      position: relative;
    }

    .martplace__contacts-phone {
      margin-bottom: 7px;
    }

    .martplace__contacts-phone::before,
    .martplace__contacts-mail::before,
    .martplace__address::before {
      position: absolute;
      font-family: 'Linearicons-free';
      left: 0px;
      font-size: 16px;
      color: $white;
    }
  }

  .martplace__contacts-phone::before {
    // content: url(../images/Icons/lnr-phone-handset.svg);
    content: '\e830';
    top: 0;
  }

  .martplace__contacts-mail::before {
    content: '\e818';
    top: 0;
  }

  .martplace__address::before {
    content: '\e833';
    bottom: 10px;
  }
}

.our-company,
.help,
.newsletter {

  // max-width: 150px;
  &__title {
    color: $white;
    font-size: 18px;
    line-height: 42px;
    margin-bottom: 30px;
  }
}

.list {
  a {
    li {
      margin-top: 13px;
      color: #ababab;
      transition: all .3s;

      &:hover {
        color: lighten(#ababab, 20%);
      }
    }

  }

}

.newsletter {
  max-width: 360px;

  &__text {
    line-height: 28px;
  }

  &__search {
    margin: 30px 0 40px;
  }

  &__social {
    a {
      font-size: 16px;
      color: $white;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      line-height: 40px;

      &+a {
        margin-left: 13px;
      }
    }

    .facebook {
      background-color: #395799;
    }

    .twitter {
      background-color: #19b2f5;
    }

    .google {
      background-color: #f05b44;
    }

    .vk {
      background-color: #5181B8;
    }

    .linkedin {
      background-color: #0da6be;
    }

    .telegram {
      background-color: #31A8DB;
    }

    .facebook,
    .twitter,
    .google,
    .vk,
    .linkedin,
    .telegram,
    .telegram {
      transition: all .3s;

      &:hover {
        background-color: #000;
      }
    }
  }
}

.footer__bottom {
  background-color: #192027;
  text-align: center;
  color: #999999;
  line-height: 27px;
  padding: 20px 0;

  span {
    color: $white;
  }
}

//PAGE CATEGORY//

//start section themes
.themes {
  background-image: linear-gradient(-90deg, rgb(13, 62, 242) 0%, rgb(45, 47, 199) 46%, rgb(76, 31, 156) 100%);

  &__inner {
    display: flex;
    flex-direction: column;
    padding-top: 85px;
    align-items: center;

    &-title {
      font-size: 26px;
      color: $white;

      span {
        @include Quicksand500;
      }
    }

    &-search {
      padding: 35px 0;

      .form {
        width: 500px;
      }
    }
  }
}

.breadcrumbs__list {
  padding-bottom: 30px;

  li {
    display: inline-block;

    &::before {
      content: '/';
      margin: 0 5px;
    }

    &:first-child::before {
      content: '';
    }

    .breadcrumbs__link {
      color: $white;
    }
  }

  .active {
    color: #bfcad7;
  }
}

//end section themes

//start section filter-bar
.filter-bar {
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.filter-bar__inner {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .filter-bar__text {
    display: flex;
    font-size: 16px;
    color: #555555;
  }

  .popular-products {
    margin-left: 40px;
  }

  .active {
    color: $blue;
  }

  .filter-bar__inputs {
    display: flex;
  }

  .select-items {
    margin: 0 30px;
  }

  .select {
    width: 220px;
    padding: 12px 20px;
    border-radius: 6px;
    border: 1px solid #eceff2;
  }

  .box {
    width: 100px;
    background-color: #fff;
    border: 1px solid #eceff2;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}



//end section filter-bar

//start section page
.page {
  background-color: #eff1f5;

  &__inner {
    display: flex;
    padding-top: 80px;
  }

  &__items {
    margin-left: 30px;
  }
}

.margin-item {
  &+.margin-item {
    margin-top: 30px;
  }
}

.box-inner {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  padding: 30px;
  width: 265px;
}

.aside-title {
  font-size: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e7ebee;
  position: relative;

  &::after {
    content: '\e874';
    position: absolute;
    font-family: 'Linearicons-free';
    font-size: 12px;
    right: 0;
    top: 5px;
  }
}

.aside-list {
  padding-top: 30px;

  li {
    position: relative;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;

    &+li {
      padding-top: 25px;
    }

    &::before {
      content: '\e876';
      font-family: 'Linearicons-free';
      position: absolute;
      left: 0;
      bottom: 2px;
      font-size: 10px;
    }

    span {
      margin-left: auto;
      color: #555555;
    }
  }

  a {
    color: #555555;
    transition: all .3 ease;

    &:hover {
      color: $blue;
    }
  }
}

.filter__inner-list {
  li {
    &::before {
      content: url(../images/Icons/circle.png);
      position: absolute;
    }
  }
}

.pricing-range {
  .form {
    padding-top: 30px;
    text-align: center;
  }

  .pricing-range__button {
    margin-top: 60px;
    @include button-background;
    border: none;
    padding: 15px 33px;
    border-radius: 50px;
  }

  .irs-max {
    display: none;
  }

  .irs-line,
  .irs-bar {
    height: 6px;
  }

  .irs-bar {
    background-color: #7347c1;
  }

  .irs-handle {
    width: 18px;
    height: 18px;
    background-color: $white;
    border-radius: 50%;
    border: 4px solid $blue;
    top: 19px;
  }

  .irs--flat .irs-handle>i:first-child {
    display: none;
  }

  .irs-from,
  .irs-to,
  .irs-single {
    border-radius: 50px;
    background-color: rgba(#7347c1, .1);
    color: #7347c1;
    padding: 6px 20px;
    box-shadow: none;
  }

  .irs-from,
  .irs-single,
  .irs-to {
    top: 50px;
  }

  .irs--flat .irs-from::before,
  .irs--flat .irs-single::before,
  .irs--flat .irs-to::before {
    display: none;
  }
}

.page__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  .page__item {
    flex: 1 0 calc((100% / 3) - 20px);
    max-width: calc((100% / 3) - 20px);
    margin-bottom: 30px;
    margin-left: 20px;
    width: 100%;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    background-color: $white;

    &-img {
      min-height: 160px;
      background-color: #7385cd;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }

    &-content {
      padding: 20px;
    }

    &-title {
      @include Quicksand500;
      font-size: 18px;

    }

    &-author {
      margin: 20px 0;
    }

    .jq-ry-container {
      padding: 0;
    }

    &-box {
      display: flex;
      justify-content: space-between;
    }

    &-sell {
      padding-left: 25px;
      padding-bottom: 15px;
      color: $blue;
      position: relative;

      &::before {
        content: '\f07a';
        position: absolute;
        font-family: 'icomoon';
        color: inherit;
        left: 0;
      }
    }

    &-price {
      border-top: 1px solid #eff1f5;
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price-link {
        @include button-background;
        padding: 8px 20px;
        background-color: rgba($blue, .1);
        box-shadow: none;
        color: $blue;
      }

    }

    .category {
      padding-left: 20px;
    }
  }
}

.page__pagination {
  padding-top: 60px;
  padding-bottom: 120px;
  text-align: end;

  li {
    display: inline-block;
  }

  &-link,
  span {
    @include button-background;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: none;
    color: #000;
    font-size: 16px;

    &:hover {
      background-color: #7347c1;
      color: $white;
    }
  }

  .active {
    background-color: $blue;
    color: $white;
  }

  &-left {
    &::before {
      content: '\e879';
      font-family: 'Linearicons-free';
    }
  }

  &-right {
    &::before {
      content: '\e87a';
      font-family: 'Linearicons-free';
    }
  }
}

.page__menu-inner {
  display: none;
}

//end section page



//start login page

.breadcrumbs {
  background-image: linear-gradient(-90deg, rgb(13, 62, 242) 0%, rgb(45, 47, 199) 46%, rgb(76, 31, 156) 100%);

  &__list {
    padding-bottom: 0;
    padding-top: 60px;

    li:before {
      margin-left: 0;
    }
  }

  &__title {
    font-size: 30px;
    color: $white;
    padding-top: 20px;
    padding-bottom: 55px;
    @include Quicksand500;
  }
}

.authorization {
  background-color: #eff1f5;

  &__wrapper {
    padding: 70px 0 120px;
  }
}

.authorization__login {
  padding-top: 60px;
  max-width: 556px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;

  &-wrapper {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 0 65px;
  }

  &-title {
    font-size: 26px;
    padding-bottom: 25px;
    color: #000;
  }

  &-desc {
    font-size: 16px;
    color: #555;
    padding-bottom: 25px;
  }
  
  .register-desc {
   max-width: 430px;
   line-height: 28px;
  }

  &-inner {
    padding: 25px 45px 55px;
  }

  .pass,
  .label {
    display: block;
  }

  .label {
    font-size: 16px;
    color: #000;
    padding-bottom: 15px;
    @include Quicksand500;
  }

  .label-pass {
    padding-top: 30px;
  }

  input:not(.checkbox) {
    width: 445px;
    padding: 15px 20px;
    background-color: #f4f5f8;
    border: none;
    font-size: 16px;
    color: #898f96;
  }

  .label-checkbox {
    margin: 30px 0;
    display: flex;
    align-items: center;
  }

  .checkbox {
    display: none;

    &+label {
      font-size: 16px;
      color: #555;
    }
  }

  .fake-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $blue;
    border: 1px solid $blue;
    border-radius: 50%;
    margin-right: 14px;
    position: relative;

    &::before {
      content: '\f00c';
      font-family: 'FontAwesome';
      color: $white;
      font-size: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: .2s;
    }
  }

  .checkbox:checked+.fake-checkbox::before {
    opacity: 1;
  }

  &-link {
    display: block;
    @include button-background;
    max-width: 150px;
    text-align: center;
    margin-bottom: 40px;
    padding: 14px 0px;
    border-radius: 50px;
  }
  .register-link {
    margin-top: 30px;
  }

  &-text {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #898f96;

    a {
      color: $bg;
      transition: all .2s;

      &:hover {
        color: darken($bg, 10%);
      }
    }
  }
}

//end login page

//start error-404 page

.error-404 {
  &__wrapper {
    text-align: center;
  }
  &__title {
    font-size: 30px;
    color: #000;
    padding: 50px 0 40px;
  }
  &__btn {
    margin-bottom: 100px;
  }
  &__link {
    @include button-background;
    padding: 15px 45px;
    border-radius: 50px;
  }
}

//end error-404 page

@import 'media';