@import 'vars';
@import 'global';
@import 'fonts';


// start header

.header {
  &__top {
    background-color: #e8ebf1;
  }

  &-top__inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
  }

  &__logo {
    display: inherit;

    img {
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
    }

    .logo-text {
      align-self: center;
      margin-left: 4px;
      color: #000;
      font-size: 30px;
      @include Quicksand700;

      span {
        color: $blue;
      }
    }
  }

  &__info,
  &__account {
    display: flex;
    align-items: center;
  }

  &__btn {
    font-size: 14px;
    margin-right: 50px;

    a {
      @include button-fon;
      transition: all .3s ease;

      &:hover {
        background-color: darken($blue, 15%);
      }
    }
  }

  &__icons {
    align-self: center;
    margin-right: 42px;

    a {
      position: relative;
      &:nth-child(2) {
        margin: 0 34px;
      }
    }
  }

  

  &__account {
    .avatar {
      margin-right: 22px;
    }

    .user {
      line-height: 22px;

      &__name {
        a {
          font-size: 16px;
          @include Quicksand500;
          color: $text-color;
          transition: all .3s;

          &:hover {
            color: lighten($text-color, 30%);
          }
        }
      }

      &__price {
        font-size: 15px;
        color: $blue;
      }
    }
  }

  &__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  .menu__list {
    text-transform: uppercase;
    display: flex;

    li {
      &+li {
        margin-left: 35px;
      }

      a {
        font-size: 15px;
        @include Quicksand500;
        line-height: 42px;
        color: $text-color;
        transition: all .3s;

        &:hover {
          color: lighten($text-color, 30%);
        }
      }
    }
  }

  .search {
    form {
      width: 360px;
      position: relative;

      input {
        display: block;
        outline: none;
        width: 100%;
        border: 1px solid #d9dfe5;
        border-radius: 20px;
        padding: 10px 80px 11px 26px;

        &::placeholder {
          font-size: 15px;
          color: #898f96;
        }
      }

      button {
        position: absolute;
        border: none;
        @include button-fon;
        box-shadow: none;
        padding: 11px 27px;
        top: 0;
        right: 0;
        cursor: pointer;
      }
    }
  }
}

// end header

// start products
.products {
  min-height: 725px;
  background-image: linear-gradient(-90deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
  position: relative;

  &__inner {
    padding-top: 175px;
    text-align: center;
    color: $white;

    &-title {
      max-width: 810px;
      margin: 0 auto;
      line-height: 70px;
      font-size: 60px;
      @include Quicksand700;

      span {
        display: block;
        @include Quicksand400;
      }
    }

    &-text {
      font-size: 20px;
      @include Quicksand500;
      line-height: 72px;
      margin-bottom: 50px;
    }

    &-btn {
      font-size: 16px;

      a {
        padding: 12px 30px !important;
        background-color: transparent;
        border: 1px solid $white;
        border-radius: 50px;
        color: $white;
        transition: all .3s ease;

        &:hover {
          background-color: #fff;
          color: $blue;
        }

        &  a {
          margin-left: 30px;
        }
      }

      .active {
        padding: 20px 30px;
        background-color: #fff;
        border: 1px solid $white;
        border-radius: 50px;
        color: $blue;
      }

    }
  }

  &__box-search {
    margin-top: 150px;
    position: absolute;
    z-index: 5;

    &::before {
      content: '';
      position: absolute;
      width: 1080px;
      height: 130px;
      background-color: #fff;
      border-radius: 6px;
      bottom: 20px;
      left: 20px;
      z-index: -1;
      opacity: .5;
    }

    &::after {
      content: '';
      position: absolute;
      width: 1030px;
      height: 130px;
      background-color: #fff;
      border-radius: 6px;
      bottom: 35px;
      left: 45px;
      z-index: -5;
      opacity: .5;
    }
  }

  &__inner-search {
    margin-top: 50px;
    max-width: 1140px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    padding: 40px;

    input {
      outline: none;
      border: 1px solid #dcdcdc;
      width: 613px;
      padding: 16px 28px;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;

      &::placeholder {
        font-size: 16px;
        color: #676767;
      }
    }

    select {
      width: 195px;
      outline: none;
      border: 1px solid #dcdcdc;
      padding: 16px 20px;
      margin-left: -5px;
      appearance: none;
      background-image: url(../images/Icons/chevron-down.png);
      background-repeat: no-repeat;
      background-position-x: 90%;
      background-position-y: center;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    button {
      border: none;
      @include button-fon;
      box-shadow: none;
      border-radius: 4px;
      width: 200px;
      padding: 5px 0;
      cursor: pointer;
      margin-left: 30px;
      font-size: 16px;
      line-height: 42px;
    }
  }
}

// end products

// start features

.features {
  min-height: 710px;

  &__inner {
    padding-top: 190px;
    padding-bottom: 120px;
  }

  &__inner-items {
    display: flex;
    justify-content: space-around;

    .item {
      padding: 40px 35px;
      max-width: 360px;
      background-color: transparent;
      border-radius: 4px;
      text-align: center;
      transition: all .2s ease;

      &__title {
        color: #000;
        font-size: 24px;
        padding: 40px 0 30px;
      }

      &__text {
        max-width: 300px;
        color: #555555;
        line-height: 30px;
      }

      &:hover {
        background-color: #fff;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      }
    }
  }
}

// end features

// start products-slider

.products-slider {
  background-color: #eff1f5;
  padding: 120px 0;

  .products-slider__title {
    @include title-fon;
  }

  .products-slider__inner-slider {
    display: flex !important;
    background-color: #fff;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
  }
}
.slider__item-content {
  padding: 0 50px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.slider__item-img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
} 

.products-slider__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  .fon-button {
    width: 110px;
    height: 45px;
    background-color: #7347c1;
    border-radius: 50px;
  }
}

.slick-arrow {
  background-color: transparent;
  border: none;
  top: -120px;
  position: absolute;
  cursor: pointer;
}

.prev.slick-arrow {
  right: 100px;
}

.next.slick-arrow {
  right: 45px;
}


.slider__item-img {
  flex: 0 0 auto;
  max-width: 555px;
  width: 100%;
  background-image: -moz-linear-gradient(180deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 12px 30px;
    font-size: 15px;

    &+a {
      margin-left: 10px;
    }
  }
}

.slider-main__item-content, .slider__item-content {
  padding: 30px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  .content-title {
    @include Quicksand500;
    font-size: 24px;
    padding-top: 30px;
    
  }
  .content-text {
    display: flex;
    padding: 12px 0 30px;
    align-items: center;
  
    .author {
      a {
        padding-left: 40px;
        @include size15;
        color: #000;
        position: relative;
        transition: all .3s;
  
        &:hover {
          color: lighten(#000000, 30);
        }
  
        &::before {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          background-color: #7347c1;
          border-radius: 50%;
          left: 0;
        }
      }
    }
  
    .category {
      margin-left: 20px;
      padding-left: 25px;
      font-size: 15px;
      color: #7347c1;
      position: relative;
  
      &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background-image: url(../images/slider/wordpress.png);
        left: 0;
        bottom: 4px;
      }
    }
  }
  .content-intro {
    font-size: 16px;
    line-height: 30px;
    color: #555555;
  }
  
  .content-tags {
    padding: 45px 0;
    border-bottom: 1px solid #ececec;
  
    a {
      color: #868c96;
      background-color: #f1f3f6;
      @include size15;
      padding: 5px 16px;
      border-radius: 50px;
  
      &+a {
        margin-left: 6px;
      }
    }
  }

  .content-info {
    padding: 23px 0;
    display: flex;
    align-items: center;
  
    .rate-star {
      margin-left: auto;
    }
  
    a {
      @include size15;
      @include button-fon;
      box-shadow: none;
      padding: 4px 20px;
      border-radius: 50px;
      @include Quicksand500;
    }
  
    span {
      margin-left: 20px;
    }
  
    .like,
    .sell {
      font-size: 15px;
      position: relative;
    }
  
    .like::before,
    .sell::before {
      font-family: 'icomoon';
      position: absolute;
      left: 0;
      bottom: 0;
    }
  
    .like {
      padding-left: 28px;
      color: #555555;
  
      &::before {
        content: '\f08a';
        color: #7347c1;
      }
    }
  
    .sell {
      padding-left: 25px;
      color: $blue;
  
      &::before {
        content: '\f07a';
        color: inherit;
      }
    }
  }


}

// end products-slider

// start release-products

.release-products {
  background-color: #f6f7fb;
  padding: 120px;
}

.release-products__inner {
  display: flex;
  justify-content: space-between;
}

.release-products__title {
  @include title-fon;
}

.buttons__filter {
  position: relative;
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    img {
      position: absolute;
      top: 5px;
      right: -5px;
    }
  }
  
}

.release-products__tags {
  @include title-fon;
  padding: 30px;

  button {
    color: #868c96;
    background-color: #f1f3f6;
    font-size: 15px;
    line-height: 30px;
    padding: 5px 16px;
    border-radius: 50px;
    transition: all .3s;
    cursor: pointer;
    border: none;

    &+a {
      margin-left: 10px;
    }

    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }
}

.release-products__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  .release-products__item {
    max-width: 360px;
    flex: 1 0 calc((100% / 3) - 20px);
    max-width: calc((100% / 3) - 20px);
    margin-bottom: 30px;
    margin-left: 20px;
    width: 100%;
  }
}



.slider__item-img {
  min-height: 230px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0;
}

.slider__item-content {
  background-color: #fff;
  padding: 30px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.release-products__item .content-title {
  font-size: 20px;
  @include Quicksand500;
  padding-top: 0px;
}

.release-products__intro {
  border-bottom: 1px solid #ececec;
  padding-bottom: 35px;
}

.release-products__info.content-info {
  padding: 0;
  padding-top: 23px;
  a {
    @include button-fon;
    background-color: rgba($blue, .2);
    box-shadow: none;
    padding: 4px 18px;
    color: #338def;
  }
  span {
    margin-left: 15px;
  }
  .like {
    padding-left: 20px;
  }
  .sell {
    margin-left: auto;
  }
  .rate-star {
    margin-left: 15px;
    
  }
}

.button__view {
  margin-top: 30px;
  text-align: center;
  button {
    border: none;
    @include button-fon;
  }
}

.follow {
  background-color: #eff1f5;
  padding: 120px 0;
}


.follow__title {
  @include title-fon;
}

.follow__items {
  .slick-slide {
    margin: 0 15px;
  }
}

.follow__item {
  max-width: 360px;
}



.fun-fact {
  background-color: #212225;
}

.fun-fact__items {
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.item__number--yellow {
  color: #feb71d;
}
.item__number--blue {
  color: #58c9e9;
}
.item__number--green {
  color: #77de51;
}
.item__number--red {
  color: #ff6a6d;
}

.fun-fact__item {
  span {
    font-size: 48px;
  }
  .item__number {
    font-size: 36px;
    padding: 50px 0 25px;
  }

  .item__text {
    font-size: 18px;
    color: #fff;
  }

}

.why-choose {
  padding: 120px 0;
}

.item__title {
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.why-choose__inner-title {
  text-align: center;
  .title {
    font-size: 36px;
    padding-bottom: 30px;
    span {
      color: $blue;
    }
    // 700
  }
  .text {
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
  }
}

.why-choose__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.why-choose_inner-item {
  margin-top: 60px;
  max-width: 360px;
  text-align: center;
  padding: 40px 35px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}

.why-choose__item {
  position: relative;
  .number {
    font-size: 48px;
    display: block;
    position: absolute;
    color: rgba(#5c87f8, .2);
    top: -15px;
    left: -15px;
  }
}

  .lnr {
    font-size: 60px;
  }
  
  .lnr-license {
    color: $blue;
  }
  .lnr-magic-wand {
    color: #7f4ec2;
  }

  .lnr-lock {
    color: #77de51;
  }

  .lnr-chart-bars {
    color: #feb71d;
  }

  .lnr-leaf {
    color: #58c9e9;
  }

  .lnr-phone {
    color: #ff6a6d;
  }


.sale {
  padding-bottom: 120px;
}
.sale__inner {
  display: flex;
  text-align: center;
  color: $white;
  .buy {
    margin-left: -1px;
  }
  .sell, .buy {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
      padding-top: 100px;
      padding-bottom: 50px;
    }
    .title {
      font-size: 36px;
    }
    .text {
      font-size: 16px;
      line-height: 30px;
      padding: 30px 0;
      max-width: 600px;
      margin: 0 auto;
    }
    a {
      @include button-fon;
      margin-bottom: 100px;
      background-color: #fff;
      color: $blue;
      transition: all .3s;
      &:hover {
        background-color: $blue;
        color: #fff;
      }
    }
  }
}

